<h1> <%= @merchant.name %>'s Discounts </h1>

<a href="discounts/new">
  New discount
</a>

<ol>
  <% @merchant.bulk_discounts.each do |dis| %>
    <li id="discount-<%= dis.id %>">
      Discount: <a href = "/discounts/<%= dis.id %>">
        buy <%= dis.quantity_threshold %> get <%= dis.percentage %>% off
      </a>
    </li>
  <% end %>
</ol>
