<h1><a href="/merchants/<%= @merchant.id %>"><%= @merchant.name %></a>'s Discounts </h1>

<a href="discounts/new">
  New discount
</a>
<hr/>
<h3>Upcoming Holidays</h3>
<ul>
  <% @holidays[0..2].each do |hol| %>
    <li><%= hol.name %>, <%= hol.date %></li>
  <% end %>
</ul>


<ol>
  <% @merchant.bulk_discounts.each do |dis| %>
    <li id="discount-<%= dis.id %>"><h3>
      Discount: <a href = "/discounts/<%= dis.id %>">
        buy <%= dis.quantity_threshold %> get <%= dis.percentage.to_i %>% off
      </a>
      </h3>

      <%= button_to "Delete this discount", "/merchants/#{@merchant.id}/discounts/#{dis.id}", method: :delete %>
    </li>
    <hr/>
  <% end %>
</ol>
