<h1> <%= @merchant.name %>'s Discounts </h1>

<a href="discounts/new">
  New discount
</a>

<ol>
  <% @merchant.bulk_discounts.each do |dis| %>
    <li id="discount-<%= dis.id %>">
      Discount: <a href = "/discounts/<%= dis.id %>">
        buy <%= dis.quantity_threshold %> get <%= dis.percentage %>% off
      </a>
      <form class="button_to" method="post" action="/merchants/<%= @merchant.id %>/discounts/<%= dis.id %>">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete this discount">
      </form>
    </li>
  <% end %>
</ol>
