<h1> <%= @merchant.name %>'s Discounts </h1>

<a href="discounts/new">
  New discount
</a>
<hr/>


<ol>
  <% @merchant.bulk_discounts.each do |dis| %>
    <li id="discount-<%= dis.id %>"><h3>
      Discount: <a href = "/discounts/<%= dis.id %>">
        buy <%= dis.quantity_threshold %> get <%= dis.percentage %>% off
      </a>
      </h3>

      <%= button_to "Delete this discount", "/merchants/#{@merchant.id}/discounts/#{dis.id}", method: :delete %>
      <br/>
      <%= button_to "Edit this discount", "/discounts/#{dis.id}/edit", method: :get %>
    </li>
    <hr/>
  <% end %>
</ol>
