<h1>New discount for <%= @merchant.name %></h1>

<%= form_with url: "/merchants/#{@merchant.id}/discounts", method: :post, local: true do |f| %>
  <%= f.label :quantity_threshold %>
  <%= f.text_field :quantity_threshold %>
  <br/><br/>
  <%= f.label :percentage %>
  <%= f.text_field :percentage %>
  <br/><br/>
  <%= f.submit "Create discount" %>
<% end %>
